<hello-world></hello-world>

<label [ngClass]="{ 'red': inputValue == 'red', 'yellow': inputValue == 'yellow'}" [class.green]="inputValue == 'green'"
    [ngStyle]="{'color': inputValue}">Test de ngStyle</label>

<!-- <label #lbSlider1></label>
<core-slider [min]="-100" [value]="80" [showLabel]="true"
    (valueChange)="lbSlider1.textContent = 'slider value = ' +$event"></core-slider>

<label>Slider value = {{ sliderValue }}</label>
<core-slider [max]="50" [value]="40" [showLabel]="false" (valueChange)="sliderValue = $event"></core-slider>
<hr> -->
Slider value = {{ v1 }}

<div *ngFor="let n of [1,2,3]" [ngClass]="'class-'+ ((n%2 ==0) ? 'even': 'uneven')">
    <input type="text" [value]="n">
    Div {{ n }}
    <!-- Affichage d'une alerte que si n > 2 -->
    <core-alert *ngIf="n > 2" [text]="'Div '+ n"></core-alert>
</div>
<input [(ngModel)]="inputValue">
<div [ngSwitch]="inputValue">
    <div *ngSwitchCase="'hap' + 'py'">
        <core-alert color="success" text="Happy !"></core-alert>
    </div>
    <div *ngSwitchCase="'sad'">Sad !</div>
    <core-alert *ngSwitchCase="'neutral'" text="Neutre !"></core-alert>
    <div *ngSwitchDefault>Ni sad ni happy.</div>
</div>


<div *ngIf="true" class="d-flex gap-2 flex-column">
    <!-- 
        Exercice : Synchroniser les 3 sliders avec les 3 progress bar.
        
        1) Pouvoir récupérer la valeur du slider 
           => afficher ici (dans le exercice component) la valeur du slider en temps réel

        2) Redescendre la valeur du slider reçue à la progress bar
    
    -->

    <!-- Parcours du tableau d'objet -->
    <div *ngFor="let value of values">
        <!-- Binding two way de la propriété "n" de l'objet "value" -->
        <core-slider [(sliderValue)]="value.n"></core-slider>
        <core-progress-bar [progressValue]="value.n"></core-progress-bar>
    </div>

    <core-slider [sliderValue]="v1" (sliderValueChange)="v1 = $event"></core-slider>
    <core-progress-bar [progressValue]="v1"></core-progress-bar>

    <core-slider [(sliderValue)]="v2"></core-slider>
    <core-progress-bar [progressValue]="v2"></core-progress-bar>

    <core-slider [(sliderValue)]="v3"></core-slider>
    <core-progress-bar [progressValue]="v3"></core-progress-bar>

    <core-alert [canBeClosed]="true" color="danger" text="Alerte 1"></core-alert>
    <core-alert [canBeClosed]="true" [text]="'Alerte 2'" (alertClosed)="alertWasClosed()"></core-alert>
</div>
<!-- <app-bootstrap-demos></app-bootstrap-demos> -->