
<body>
<header>
  <h1>Écran de Cuisine</h1>
</header>
<main>
  <section class="orders">
    <h2>Commandes en cours</h2>
    <div *ngFor="let commande of  commandes$ | async">
      <ul>
        <li>{{commande.id}}</li>
        <li>{{commande.idClient}}</li>
        <li>{{commande.idTable}}</li>
        <li>{{commande.idPlats}}</li>
        <li>{{commande.etatCommande}}</li>
        <li>{{commande.montant}}</li>
      </ul>
      <button (click)="modifStatut('PRETE', commande.id!, commande)">{{commande.etatCommande}}</button>
    </div>
  </section>
</main>
</body>


