
<body>
<h1>Commandes</h1>
<app-ecran-commande></app-ecran-commande>
<header>
  <h1>Cuisine</h1>
</header>
<main>
  <section class="orders">
    <h2>Commandes prête</h2>
    <div *ngFor="let commande of  commandes$ | async">
      <ul>
        <li>{{commande.id}}</li>
        <li>{{commande.idClient}}</li>
        <li>{{commande.idTable}}</li>
        <li>{{commande.plats}}</li>
        <li>{{commande.etatCommande}}</li>
        <li>{{commande.montant}}</li>
      </ul>
      <button (click)="modifStatut('PRETE', commande.id!, commande)">{{commande.etatCommande}}</button>
    </div>
  </section>
</main>
</body>


