<div class="home-container">
  <div class="logo-container">

       <img src=".\assets\logo.png" alt="logo" />
 
  <form (submit)="onLogin()" class="login-container">
 
     <label class="form-label" for="form2Example11">Identifiant :</label>
    <input type="text" name="identifiant" [(ngModel)]="logObj.identifiant" />

     <label class="form-label" for="form2Example22">Mot de passe :</label>
    <input type="password" name="mdp" [(ngModel)]="logObj.mdp" />
  

    <div class="text-center pt-1 mb-5 pb-1">
      <button class="login-btn" type="submit">
        Connexion
      </button>
    </div>
  </form>
 </div>
</div>
