<main>
  <section class="reservations">
    <h2>Statut des réservations :</h2>
    <ng-container *ngIf="_reservations$ | async as reservations">
      <div class="d-flex flex-column gap-2 m-2">
        <div class="plat-tile shadow" *ngFor="let reservation of reservations">
          <div class="identifier small">N°{{ reservation.id }}</div>
          <div class="identifier small">Client: {{ reservation.client.nom }}</div>
          <div class="identifier small">Date: {{ reservation.dateReservation }}</div>
          <div class="identifier small">Heure: {{ reservation.heureReservation }}</div>
          <div class="identifier small">État: {{ reservation.etatReservation }}</div>
          <div class="identifier small">Taille du groupe: {{ reservation.tailleGroupe }}</div>
          <div class="identifier small">Id Table: {{ reservation. id_table }}</div>

          <div class="button-container">
            <button class="accept-button" (click)="acceptResa(reservation.id)">Accepter</button>

            <button class="refuse-button">Refuser</button>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
</main>
