.pokemon-tile {
    width: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.identifier {
    align-self: flex-end;
}

.img-type {
    width: 2rem;
}
