.pokemon-tile {
    width: 10rem;
    background-color: lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
