.bg-white{
  background-color: #F5F5F5 !important;
}

.container-fluid{
  resize: horizontal;
  overflow: hidden;
  display: flex;
  margin-top: 10rem;
 
}
.card-body{
  display: inline-block;
  margin: 8px;
  background-color: rgba(205, 92, 92, 0.2);
  border: 2px solid indianred;
  border-radius: 10px ;
  height: 20rem;
  width: 20rem;
  font-size: xx-large;
  cursor: pointer;
}